.main_header{
	@extend %clearfix;
	padding-top: 0;
	border-bottom: 2px solid $black;
	@include min-screen($sm-bp){
		padding-top: 1em;
		border: none;
	}
}

.main_header_row{
	width: 100%;
}

.main_header_row-header, .main_header_row-nav{
	margin-bottom: 0;
	float: left;
	@include min-screen($sm-bp){
		margin-bottom: 1.6%;
		float: none;
	}
}

.main_header_row-header{
	width: 80%;
}


.main_header_row-nav{
	width: 20%;
}

@include min-screen($sm-bp){
	.main_header_row-header, .main_header_row-nav{
		width: 100%;	
	}
}