.main_header{
	@extend %clearfix;
	height: 5em;
	@include min-screen(35em){
		position: relative;
		border: none;
		height: auto;
	}
}

.main_header_row{
	width: 100%;
}

.main_header_row-header, .main_header_row-nav{
	margin-bottom: 0;
	float: left;
	@include min-screen($sm-bp){
		float: none;
	}
}

.main_header_row-header{
	width: 50%;
	@include min-screen(35em){
		padding: 0.707em 0;
	}
	@include min-screen(47.5em){
		padding: 1.414em 0;
	}
}


.main_header_row-nav{
	width: 50%;
}

@include min-screen($sm-bp){
	.main_header_row-header, .main_header_row-nav{
		width: 100%;	
	}
}