/* ==========================================================================
   Base Grid System
   ========================================================================== */

// base grid styles

.container{
	@extend %clearfix;
	max-width: $container-width;
	margin: 0 auto;
	height: 100%;
}

.row{
	@extend %clearfix;
	padding: 0;
	margin: 0;
	width: 100%;
}

.row-nopadding{
	padding: 0;
}

.main_content{
	padding: 0 1em;
	max-width: 760px;
	//max-width: 53.33333333333333rem;
	margin: 0 auto;
}

[class*='col-']{
	margin: 0 $col-margin $col-margin $col-margin;
	width: 100%;
	//background-color: #ccc;
	@include min-screen($sm-bp){
		float: left;
		margin: 0 0 1.6% 1%;
	}
	&:first-child{
		margin-left: 0;
	}
}


@include min-screen($extsm-bp){}// end extra small media query

@include min-screen($sm-bp){}// end small media query

@include min-screen($med-bp){
	
	.container{
		padding: 0 1em;
	}

	.main_content{
		padding: 3em 0;
	}

	@for $i from 1 through $cols {
		$val: (100% - (($cols - 1) * $col-margin)) / $cols;

	  	.col-#{$i}-#{$cols} { 
	  		width: ($val * $i) + ($col-margin * ($i - 1)); 
	  	}
	}
}// end medium media query

@include min-screen($lrg-bp){} // end large media query

@include min-screen($extlrg-bp){} //end extra large media query