/* ==========================================================================
Variables
========================================================================== */

	$wrapper-width: 75em;


/* ==========================================================================
Grid variables
========================================================================== */

	$cols: 12;
	$col-margin: 1%;
	$container-width: 65em;


/* ==========================================================================
Breakpoints
========================================================================== */

	$extsm-bp: 	12.5em; 	//200px
	$sm-bp: 	30em; 		//480px
	$med-bp: 	51.875em; 	//760px
	$lrg-bp: 	65em; 		//1040px
	$extlrg-bp: 75em; 		//1200px

/* ==========================================================================
Colours
========================================================================== */

	$pink: #e68a9e;
	$darkpink: darken($pink, 7%); //#e06d86
	$black: #000;
	$white: #FFF;
	$grey: #333333;
	$darkgrey: lighten($grey, 5%);
	$lightgrey: lighten($grey, 50%);
	$tooltip-color: #FFF;//rgba(236, 240, 241,1.0)

	$red: 		rgba(231, 76, 60, 1.0);
	$red-05: 	rgba(231, 76, 60, 0.5);
	$blue: 		rgba(52, 152, 219,1.0);
	$blue-05: 	rgba(52, 152, 219,0.5);
	$green: 	rgba(46, 204, 113,1.0);
	$green-05: 	rgba(46, 204, 113,0.5);


/* ==========================================================================
Typography
========================================================================== */

	$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	
	//Typographic scale
	$base: 18px;
	$h1: 2.8271444444em; //50.88px
	$h2: 2em; //36px;
	$h3: 1.413888em; //25.45px
	$h4: 1em; //18px
	$h5: 0.7777777777777778em; //14px
	$h6: 0.7072135785007072em; //12.73px
	$pg: 1.111111111111111em; //20px





