    .basket{
        display: none;
    }

    .basket_link{
        display: inline-block;
        width: 100%;
        text-decoration: none;
        font-size: 1.285714285714286em; //18px;
        line-height: 1.5;
        padding: .5em 0;
        &:hover, &:active{
            color: white;
            background-color: $pink;
            .basket_link_icon-mobile{
                color: $white;
            }
        }
    }

    .basket_link_icon-mobile{
        display: block;
        color: $black;
        text-align: center;
        &:before{
        }
    }

    .basket_link_title, .basket_badge{
        display: none;
        visibility: hidden;
    }

    .basket_list_item{
        @extend %clearfix;
    }


@include min-screen($med-bp) {

    .basket_wrapper{
        display: inline;
        position: relative;
        margin-left: 1em;
    }

    .basket_badge{
        font-size: 1em;
        display: inline;
        visibility: inherit;
    }

    .basket{
        position: absolute;
        font-size: 1.3em;
        right: 0;
        top: 1.4em;
        width: 16em;
        background-color: $pink;
        border-top-left-radius: 0.2777777777777778em;
        border-bottom-right-radius: 0.2777777777777778em;
        border-bottom-left-radius: 0.2777777777777778em;
        padding: 1em 0;
        margin: -0.0030864198em;
    }

    .basket_link{
        display: inline;
        font-size: 1em;
        padding: .5em 1em;
        text-transform: uppercase;
        color: $black;
        text-decoration: none;
        letter-spacing: 1px;
        border-left: 1px solid black;
        &:hover, &:active{
            color: white;
            border-top-left-radius: 0.2777777777777778em;
            border-top-right-radius: 0.2777777777777778em;
            background-color: $pink;
            .basket{
                display: block;
                z-index: 99999;
            }
            .basket_link_title{
                color: $white;
            }
        }
    }

    .basket_link_title{
        display: inline;
        visibility: inherit;
        font-size: 1em;
        line-height: 1.5;
        display: inline-block;
        padding: 0;
        line-height: 1;
        color: $black; 
        font-weight: bold;
        text-decoration: none;
        &:hover{
            color: $white;
        }
    }

    .basket_link_icon-mobile{
        display: none;
        visibility: hidden;
    }

    .basket_list{
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .basket_list_item{
        display: block;
        width: 100%;
        color: $white;
        padding: 0.5555555555555556em 1em 0.5555555555555556em 1.5em;
        border-bottom: 1px solid darken($pink, 5%);
        &:first-child{
            margin-top: 0;
            padding-top: 0;
        }
    }

    .basket_list_item_thumb{
        float: left;
        margin: .5em 1em 0 0;
    }
    
    .basket_list_item_detail{
        float: left;
        text-align: left;
    }

    .basket_list_item_detail_title{
        font-size: $h5;
        margin: 0;
        text-decoration: none;
        color: white;
        &:hover{
            text-decoration: underline;
        }
    }

    .basket_list_item_detail_desc{
        font-size: $h6;
        font-style: italic;
        font-weight: 400;
        margin: 0;
    }

    .basket_list_item_detail_quantity{
    }

    .basket_list_item_detail_quantity_title{
        font-weight: 400;
        font-size: $h6;
    }

    .basket_list_item_detail_quantity_amount{
        font-size: $h6;
    }


    .basket_footer{
        padding: 1em 1em 0 1em;
    }

}