    .basket{
        display: none;
    }

    .basket_link{
        display: inline-block;
        width: 100%;
        text-decoration: none;
        font-size: 1.285714285714286em; //18px;
        line-height: 1.5;
        &:hover, &:active{
            color: white;
            background-color: $pink;
            .basket_link_icon-mobile{
                color: $white;
            }
            .badge{
                box-shadow: none;
                border: none;
            }
        }
    }

    .basket_link-mobile{
        display: inline-block;
        position: absolute;
        right: 0;
        width: 5em;
        font-size: 1em; //18px;
        line-height: 5rem;
        color: $black;
        text-align: center;
        &:hover, &:active{
            color: white;
            background-color: $pink;
            .basket_link_icon-mobile{
                color: $white;
            }
        }
    }

    .basket_link_icon-mobile{
        text-decoration: none;
        padding: 0;
        color: black;
        display: block;
        width: 100%;
    }

    .basket_link_icon-desktop, .basket_link_title, .basket_badge{
        display: none;
        visibility: hidden;
    }

    .basket_badge-mobile{
        display: inline;
        visibility: inherit;
        font-size: 1em;
    }

    .basket_list_item{
        @extend %clearfix;
    }

    .basket_subtotal{
        @extend %clearfix;
    }
    
    .basket_empty{}

@include min-screen(35em){
    .basket_link-mobile{
        top: 0;
        line-height: 8.25em;
        width: 7em;
    }
}

@include min-screen(47.5em){
     .basket_link-mobile{
        line-height: 3;
        width: 10%;
        top: 4.5em;
        &:hover{
            border-radius: 0.3125em;
            border: 1px solid $darkpink;
        }
    }
}


@include min-screen(57.5em) {


    .basket_badge{
        font-size: 1em;
        display: inline;
        visibility: inherit;
        margin-left: .2em;
    }

    .basket_badge-mobile{
        display: none;
        visibility: hidden;
    }

    .basket{
        position: absolute;
        font-size: 1.3em;
        right: -1px;
        top: 98%;
        width: 17em;
        background-color: $pink;
        z-index: -99999;
        border-top-left-radius: 0.2777777777777778em;
        border-bottom-right-radius: 0.2777777777777778em;
        border-bottom-left-radius: 0.2777777777777778em;
        padding: 1em 0;
        border: 1px solid $darkpink;
        box-shadow: 0px 3px 3px rgba(51,51,51,0.2);
        @include retina-display(){
            top: 95%;
        }
    }

    .basket_link{
        position: relative;
        font-size: 1em;
        padding: .5em 1.5em;
        text-transform: uppercase;
        color: $black;
        text-decoration: none;
        letter-spacing: 1px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-top: 1px solid transparent;
        &:hover, &:active{
            color: white;
            border-top-left-radius: 0.2777777777777778em;
            border-top-right-radius: 0.2777777777777778em;
            background-color: $pink;
            border-left: 1px solid $darkpink;
            border-right: 1px solid $darkpink;
            border-top: 1px solid $darkpink;
            .basket_badge{
                margin-left: .3em;
            }
            .basket{
                display: block;
            }
            .basket_link_title{
                color: $white;
            }
        }
    }

    .basket_link_title{
        display: inline;
        visibility: inherit;
        font-size: 1em;
        line-height: 1.5;
        display: inline-block;
        padding: 0;
        line-height: 1;
        color: $black; 
        font-weight: bold;
        text-decoration: none;
        &:hover{
            color: $white;
        }
    }

    .basket_link-mobile{
        display: none;
        visibility: hidden; 
    }

    .basket_link_icon-mobile{
        display: none;
        visibility: hidden;
    }

    .basket_link_icon-desktop{
        display: inline-block;
        visibility: inherit;
        z-index: 99999;
    }

    .basket_empty_title{
        font-size: 1rem;
        color: white;
        letter-spacing: 1px;
    }

    .basket_list{
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .basket_list_item{
        display: block;
        width: 100%;
        color: $white;
        padding: 0.5555555555555556em 1em 0.5555555555555556em 1.5em;
        border-bottom: 1px solid darken($pink, 5%);
        &:first-child{
            margin-top: 0;
            padding-top: 0;
        }
    }

    .basket_list_item_thumb{
        float: left;
        margin: .5em 1em 0 0;
    }
    
    .basket_list_item_detail{
        float: left;
        text-align: left;
    }

    .basket_list_item_detail_title{
        font-size: $h5;
        margin: 0;
        text-decoration: none;
        color: white;
        &:hover{
            text-decoration: underline;
        }
    }

    .basket_list_item_detail_desc{
        font-size: $h6;
        font-style: italic;
        font-weight: 400;
        margin: 0;
    }

    .basket_list_item_detail_quantity{
    }

    .basket_list_item_detail_quantity_title{
        font-weight: 400;
        font-size: $h6;
    }

    .basket_list_item_detail_quantity_amount{
        font-size: $h6;
    }

    .basket_subtotal{
        padding: .5em 1em;
    }

    .basket_subtotal_label{
        float: left;
    }

    .basket_subtotal_value{
        float: right;
    }


    .basket_footer{
        padding: 1em 1em 0 1em;
        border-top: 1px solid darken($pink, 5%);
    }

}