.product_list{
	@extend %clearfix;
	padding: 0;
}

.product_list_item{
	@extend %clearfix;
	list-style-type: none;
	width: 100%;
	padding: 1em 0;
	border-bottom: 1px dashed #ccc;

	&:last-child{
		border-bottom: none;
		padding-bottom: 0;
	}

	@include min-screen($sm-product-bp){
		float: left;
		width: (100% / 2 ) - $col-margin;
		margin: 0 $col-margin / 2 ;
		border: none;
	}

	@include min-screen($med-bp){
		width: (100% / 3 ) - $col-margin;
	}
}


.product_link{
	&:hover .product_container_info_title{
        color: $pink;
	}
}

.product_list_item_img{
	float: left;
	width: 30%;
	@include min-screen($sm-product-bp){
		width: 100%;
		float: none;
	}
}

.product_list_item_info{
	float: left;
	width: 70%;
	padding-left: 1em;
	@include min-screen($sm-product-bp){
		float: none;
		width: 100%;
		padding-left: 0;
	}
}

.product_list_item_info_title{
	margin-bottom: 7px;
	margin-bottom: 0.3536067892503536rem;
	@include min-screen($sm-product-bp){
		margin-top: 15px;
		margin-top: 0.7072135785007072rem;
	}
}

.product_list_item_info_desc{
	font-size: 0.7072135785007072rem;
	margin: 0.3536067892503536rem 0;
}

.product_list_item_info_title, .product_list_item_info_price, .product_list_item_info_desc{
	text-align: left;
	@include min-screen($sm-product-bp){
		text-align: center;
	}
}

.product_list_item_info_btn{
	display: block;
	font-size: .75rem;
	width: 6em;
	margin-left: 0;
	@include min-screen($sm-product-bp){
		margin: .5em auto 1em auto;
		font-size: 1em;
	}
}